In [1]:
import pandas as pd
from app.DataTransformer import DataTransformer

In [2]:
data_transformer = DataTransformer(date='2023-12-31')

Loading dataframes:   0%|          | 0/9 [00:00<?, ?it/s]

data/2023-12-31/Sony_Xperia_M5/final_df.csv

Loading dataframes:  11%|█         | 1/9 [00:01<00:14,  1.87s/it]

data/2023-12-31/OPPO_AX7/final_df.csv

Loading dataframes:  22%|██▏       | 2/9 [00:06<00:23,  3.37s/it]

data/2023-12-31/LENOVO_K6_NOTE/final_df.csv

Loading dataframes:  33%|███▎      | 3/9 [00:15<00:35,  6.00s/it]

data/2023-12-31/HONOR_8X/final_df.csv

Loading dataframes:  44%|████▍     | 4/9 [00:26<00:40,  8.02s/it]

data/2023-12-31/HUAWEI_P9_LITE/final_df.csv

Loading dataframes:  56%|█████▌    | 5/9 [00:31<00:27,  6.88s/it]

data/2023-12-31/Sony_Xperia_XA/final_df.csv

Loading dataframes:  67%|██████▋   | 6/9 [00:33<00:15,  5.23s/it]

data/2023-12-31/HUAWEI_Y7/final_df.csv

Loading dataframes:  78%|███████▊  | 7/9 [00:35<00:08,  4.23s/it]

data/2023-12-31/LG_K10/final_df.csv

Loading dataframes:  89%|████████▉ | 8/9 [00:37<00:03,  3.64s/it]

data/2023-12-31/HUAWEI_MATE/final_df.csv

Loading dataframes: 100%|██████████| 9/9 [00:49<00:00,  5.47s/it]

Empty file: MagnetometerUncalibrated in Sony_Xperia_M5
Empty file: Accelerometer in Sony_Xperia_M5
Empty file: GyroscopeUncalibrated in OPPO_AX7
Empty file: MagnetometerUncalibrated in HUAWEI_P9_LITE
Empty file: MagnetometerUncalibrated in Sony_Xperia_XA
Empty file: Accelerometer in Sony_Xperia_XA
Empty file: MagnetometerUncalibrated in LG_K10
Empty file: Accelerometer in LG_K10
min_time: 2023-12-31 05:56:14, max_time: 2023-12-31 14:43:00.800000
min_time: 2023-12-31 05:55:31.500000, max_time: 2023-12-31 14:42:52.600000
min_time: 2023-12-31 05:54:51, max_time: 2023-12-31 14:42:45.300000
min_time: 2023-12-31 05:54:50.500000, max_time: 2023-12-31 14:45:18
min_time: 2023-12-31 05:57:10.400000, max_time: 2023-12-31 14:43:19.500000
min_time: 2023-12-31 05:57:36.400000, max_time: 2023-12-31 14:43:03.300000
min_time: 2023-12-31 05:57:10.600000, max_time: 2023-12-31 14:44:04.400000
min_time: 2023-12-31 05:55:32, max_time: 2023-12-31 14:43:19
min_time: 2023-12-31 05:56:13.700000, max_time: 2023-12-31 14:45:28

In [4]:
data_transformer.transformed_data_paths['Sony_Xperia_XA']

{'TotalAcceleration': PosixPath('data/2023-12-31/Sony_Xperia_XA/TotalAcceleration.csv'),
 'Annotation': PosixPath('data/2023-12-31/Sony_Xperia_XA/Annotation.csv'),
 'Location': PosixPath('data/2023-12-31/Sony_Xperia_XA/Location.csv'),
 'Magnetometer': PosixPath('data/2023-12-31/Sony_Xperia_XA/Magnetometer.csv'),
 'MagnetometerUncalibrated': PosixPath('data/2023-12-31/Sony_Xperia_XA/MagnetometerUncalibrated.csv'),
 'Accelerometer': PosixPath('data/2023-12-31/Sony_Xperia_XA/Accelerometer.csv'),
 'AccelerometerUncalibrated': PosixPath('data/2023-12-31/Sony_Xperia_XA/AccelerometerUncalibrated.csv'),
 'Metadata': PosixPath('data/2023-12-31/Sony_Xperia_XA/Metadata.csv'),
 'Rules': PosixPath('data/2023-12-31/Sony_Xperia_XA/Rules.csv')}

In [5]:
pd.read_csv('/Users/kuba/SkiApp/data/2023-12-31/Sony_Xperia_XA/final_df.csv')

,time,TotalAcceleration,Magnetometer,Gyroscope,Gravity,MagnetometerUncalibrated,GyroscopeUncalibrated,Accelerometer,Orientation
0,2023-12-31 05:57:36.400,"[10.093999862670898, -0.6700000166893005, 0.57...","[-530.733154296875, -224.4134979248047, -482.8...",NaN,NaN,NaN,NaN,NaN,NaN
1,2023-12-31 05:57:36.500,"[9.786999702453612, -1.2829999923706057, -0.42...","[-531.0828857421875, -223.793197631836, -482.7...",NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-31 05:57:36.600,"[9.786999702453612, -1.2829999923706057, -0.65...","[-531.988037109375, -223.63259887695312, -480....",NaN,NaN,NaN,NaN,NaN,NaN
3,2023-12-31 05:57:36.700,"[10.399999618530272, -0.8230000138282776, -0.7...","[-532.1161499023438, -223.1648101806641, -477....",NaN,NaN,NaN,NaN,NaN,NaN
4,2023-12-31 05:57:36.800,"[9.480999946594238, -0.6700000166893005, 0.190...","[-531.969482421875, -223.91732788085932, -474....",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
248376,2023-12-31 14:43:02.900,"[8.484999656677246, 3.7730000019073486, -1.417...","[123.00511169433594, -129.00450134277344, 31.6...",NaN,NaN,NaN,NaN,NaN,NaN
248377,2023-12-31 14:43:03.000,"[9.173999786376951, 3.696000099182129, -0.5740...","[123.3179702758789, -129.0509796142578, 31.519...",NaN,NaN,NaN,NaN,NaN,NaN
248378,2023-12-31 14:43:03.100,"[8.791000366210938, 4.078999996185303, -0.8040...","[121.64868927001952, -129.20982360839844, 29.6...",NaN,NaN,NaN,NaN,NaN,NaN
248379,2023-12-31 14:43:03.200,"[8.407999992370605, 4.156000137329102, -0.9570...","[120.90579223632812, -129.63011169433594, 28.6...",NaN,NaN,NaN,NaN,NaN,NaN
248380,2023-12-31 14:43:03.300,"[7.948999881744385, 4.309000015258789, -2.1059...","[121.4294891357422, -130.30726623535156, 28.53...",NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data_transformer.transformed_data

AttributeError: 'DataTransformer' object has no attribute 'transformed_data'

In [6]:
set(data_transformer.device_dataframes['Sony_Xperia_M5'].keys())

{'Magnetometer', 'TotalAcceleration'}

In [7]:
from app.device_namespace import FINAL_DF_SENSORS
FINAL_DF_SENSORS

['Accelerometer',
 'Gravity',
 'Gyroscope',
 'GyroscopeUncalibrated',
 'Magnetometer',
 'MagnetometerUncalibrated',
 'Orientation',
 'TotalAcceleration']

In [8]:
set(FINAL_DF_SENSORS) - set(data_transformer.device_dataframes['Sony_Xperia_M5'].keys())

{'Accelerometer',
 'Gravity',
 'Gyroscope',
 'GyroscopeUncalibrated',
 'MagnetometerUncalibrated',
 'Orientation'}

In [9]:
FINAL_DF_SENSORS

['Accelerometer',
 'Gravity',
 'Gyroscope',
 'GyroscopeUncalibrated',
 'Magnetometer',
 'MagnetometerUncalibrated',
 'Orientation',
 'TotalAcceleration']

In [ ]:
from pathlib import Path
from app.device_namespace import DATA_PATH
def generate_path_for_final_df(date: str, device: str) -> Path:
    """Generate path for final dataframe"""
    return Path(DATA_PATH, date, device, "final_df.csv")

In [ ]:
for device in data_transformer.transformed_data_paths.keys():
    print(device)
    print(generate_path_for_final_df(data_transformer.date, device))
    print()

Sony_Xperia_M5
data/2023-12-31/Sony_Xperia_M5/final_df.csv

OPPO_AX7
data/2023-12-31/OPPO_AX7/final_df.csv

LENOVO_K6_NOTE
data/2023-12-31/LENOVO_K6_NOTE/final_df.csv

HONOR_8X
data/2023-12-31/HONOR_8X/final_df.csv

HUAWEI_P9_LITE
data/2023-12-31/HUAWEI_P9_LITE/final_df.csv

Sony_Xperia_XA
data/2023-12-31/Sony_Xperia_XA/final_df.csv

HUAWEI_Y7
data/2023-12-31/HUAWEI_Y7/final_df.csv

LG_K10
data/2023-12-31/LG_K10/final_df.csv

HUAWEI_MATE
data/2023-12-31/HUAWEI_MATE/final_df.csv

In [ ]:
data_transformer.device_dataframes['HONOR_8X']['TotalAcceleration']['time'][0]

Timestamp('2023-12-31 05:54:50.400000')

In [ ]:
temp = data_transformer.device_dataframes['HONOR_8X']['Magnetometer']
temp

                           time  seconds_elapsed        z        y        x
0       2023-12-31 05:54:50.500         0.214354 -32.5625   4.5000 -34.1250
1       2023-12-31 05:54:50.600         0.313616 -31.0625   5.3750 -35.0625
2       2023-12-31 05:54:50.700         0.412881 -31.7500   5.0625 -34.3125
3       2023-12-31 05:54:50.800         0.512143 -25.6250   3.5000 -38.6250
4       2023-12-31 05:54:50.900         0.611407 -18.1250  -0.7500 -48.1250
...                         ...              ...      ...      ...      ...
318271  2023-12-31 14:45:17.600     31827.374873 -24.0625  19.3750 -17.6875
318272  2023-12-31 14:45:17.700     31827.474137 -25.1250  16.8125 -19.5625
318273  2023-12-31 14:45:17.800     31827.573399 -25.8125  15.1250 -21.0625
318274  2023-12-31 14:45:17.900     31827.672662 -24.6250  15.1875 -20.4375
318275  2023-12-31 14:45:18.000     31827.771927 -25.4375  14.3125 -20.2500

[318276 rows x 5 columns]

In [28]:
data_transformer.device_dataframes['HONOR_8X']

{'TotalAcceleration':                           time  seconds_elapsed          z         y         x
 0      2023-12-31 05:54:50.400         0.150336  13.460011 -1.110287  0.457388
 1      2023-12-31 05:54:50.600         0.309156   9.518369 -1.001811  0.628880
 2      2023-12-31 05:54:50.700         0.408421  10.557539 -2.106658  0.041688
 3      2023-12-31 05:54:50.800         0.507683  16.106216 -4.890042  3.783538
 4      2023-12-31 05:54:50.900         0.606947   6.553907 -1.044245  4.410512
 ...                        ...              ...        ...       ...       ...
 318271 2023-12-31 14:45:17.600     31827.370413  11.402682  0.781985 -0.588284
 318272 2023-12-31 14:45:17.700     31827.469677   9.293515  1.020658 -0.148613
 318273 2023-12-31 14:45:17.800     31827.568939   9.599820  1.126616 -0.732980
 318274 2023-12-31 14:45:17.900     31827.668202  10.327179  0.314234  0.038393
 318275 2023-12-31 14:45:18.000     31827.767468  10.261434  0.415442 -0.427604

 [318276 rows x 5 columns],
 'Orientation':                           time  seconds_elapsed        qz        qy        qx  \
 0      2023-12-31 05:54:50.400         0.130483  0.876108  0.417098  0.023910
 1      2023-12-31 05:54:50.500         0.229746 -0.687967  0.030969 -0.046298
 2      2023-12-31 05:54:50.600         0.329010 -0.679797  0.034070 -0.074509
 3      2023-12-31 05:54:50.700         0.428272 -0.679892  0.053214 -0.069960
 4      2023-12-31 05:54:50.800         0.527536 -0.688405 -0.006166 -0.136464
 ...                        ...              ...       ...       ...       ...
 318273 2023-12-31 14:45:17.700     31827.410118 -0.565755 -0.017369  0.030492
 318274 2023-12-31 14:45:17.800     31827.509382 -0.558183 -0.023002  0.052058
 318275 2023-12-31 14:45:17.900     31827.608644 -0.564660 -0.014428  0.045477
 318276 2023-12-31 14:45:18.000     31827.707908 -0.560793 -0.012432  0.036641
 318277 2023-12-31 14:45:18.100     31827.807172 -0.561397 -0.016294  0.044858

               qw      roll     pitch       yaw
 0       0.240606  0.239315 -0.836573 -2.498757
 1       0.723601 -0.019000  0.109835  1.521363
 2       0.728809 -0.052296  0.155554  1.505310
 3       0.728025 -0.017923  0.175118  1.504021
 4       0.712346 -0.201521  0.187018  1.555578
 ...          ...       ...       ...       ...
 318273  0.823826  0.005898 -0.069950  1.203749
 318274  0.827763  0.020163 -0.112097  1.187705
 318275  0.823942  0.027701 -0.091362  1.202869
 318276  0.827051  0.020591 -0.074621  1.192470
 318277  0.826168  0.023546 -0.092547  1.194784

 [318278 rows x 9 columns],
 'Magnetometer':                           time  seconds_elapsed        z        y        x
 0      2023-12-31 05:54:50.500         0.214354 -32.5625   4.5000 -34.1250
 1      2023-12-31 05:54:50.600         0.313616 -31.0625   5.3750 -35.0625
 2      2023-12-31 05:54:50.700         0.412881 -31.7500   5.0625 -34.3125
 3      2023-12-31 05:54:50.800         0.512143 -25.6250   3.5000 -38.6250
 4      2023-12-31 05:54:50.900         0.611407 -18.1250  -0.7500 -48.1250
 ...                        ...              ...      ...      ...      ...
 318271 2023-12-31 14:45:17.600     31827.374873 -24.0625  19.3750 -17.6875
 318272 2023-12-31 14:45:17.700     31827.474137 -25.1250  16.8125 -19.5625
 318273 2023-12-31 14:45:17.800     31827.573399 -25.8125  15.1250 -21.0625
 318274 2023-12-31 14:45:17.900     31827.672662 -24.6250  15.1875 -20.4375
 318275 2023-12-31 14:45:18.000     31827.771927 -25.4375  14.3125 -20.2500

 [318276 rows x 5 columns],
 'GyroscopeUncalibrated':                           time  seconds_elapsed         z         y         x
 0      2023-12-31 05:54:50.500         0.210745  0.506041 -0.472286 -0.265744
 1      2023-12-31 05:54:50.600         0.310008  0.470820  0.506966 -0.536567
 2      2023-12-31 05:54:50.700         0.409272  0.128805 -0.191340  0.164881
 3      2023-12-31 05:54:50.800         0.508534 -0.968291 -4.936385 -0.718430
 4      2023-12-31 05:54:50.900         0.607798 -0.349048 -1.619316  1.263775
 ...                        ...              ...       ...       ...       ...
 318271 2023-12-31 14:45:17.600     31827.381190  0.002793 -0.381442 -0.214571
 318272 2023-12-31 14:45:17.700     31827.480455  0.405911  0.268100  0.356990
 318273 2023-12-31 14:45:17.800     31827.579717 -0.209632  0.211429 -0.537492
 318274 2023-12-31 14:45:17.900     31827.678979 -0.064368 -0.015464 -0.030543
 318275 2023-12-31 14:45:18.000     31827.778245  0.032620 -0.123674  0.259461

 [318276 rows x 5 columns],
 'MagnetometerUncalibrated':                           time  seconds_elapsed        z        y        x
 0      2023-12-31 05:54:50.500         0.214354 -42.1875  16.9375   0.2500
 1      2023-12-31 05:54:50.600         0.313616 -40.6875  17.8125  -0.6875
 2      2023-12-31 05:54:50.700         0.412881 -41.3750  17.5000   0.0625
 3      2023-12-31 05:54:50.800         0.512143 -35.2500  15.9375  -4.2500
 4      2023-12-31 05:54:50.900         0.611407 -27.7500  11.6875 -13.7500
 ...                        ...              ...      ...      ...      ...
 318269 2023-12-31 14:45:17.600     31827.374873 -41.6250   9.2500 -29.8125
 318270 2023-12-31 14:45:17.700     31827.474137 -41.9375  10.8125 -28.7500
 318271 2023-12-31 14:45:17.800     31827.573399 -42.6250   9.1250 -30.2500
 318272 2023-12-31 14:45:17.900     31827.672662 -41.4375   9.1875 -29.6250
 318273 2023-12-31 14:45:18.000     31827.771927 -42.2500   8.3125 -29.4375

 [318274 rows x 5 columns],
 'Accelerometer':                           time  seconds_elapsed       z       y       x
 0      2023-12-31 05:54:50.400         0.130483 -0.7738  0.3986  0.3512
 1      2023-12-31 05:54:50.500         0.229746  0.6198  0.0158  0.4424
 2      2023-12-31 05:54:50.600         0.329010  1.3182  0.1856  0.0329
 3      2023-12-31 05:54:50.700         0.428272  0.1515 -0.3017 -0.7320
 4      2023-12-31 05:54:50.800         0.527536  5.6615 -0.0006  2.0136
 ...                        ...              ...     ...     ...     ...
 318273 2023-12-31 14:45:17.700     31827.410118  0.8773 -0.1460  0.0773
 318274 2023-12-31 14:45:17.800     31827.509382 -1.0838 -1.0969  0.6868
 318275 2023-12-31 14:45:17.900     31827.608644  1.5646  0.2722 -0.9553
 318276 2023-12-31 14:45:18.000     31827.707908 -0.4315  0.1024 -0.0045
 318277 2023-12-31 14:45:18.100     31827.807172  0.0544 -0.0923 -0.2996

 [318278 rows x 5 columns],
 'Gyroscope':                           time  seconds_elapsed         z         y         x
 0      2023-12-31 05:54:50.500         0.210745  0.501067 -0.446298 -0.263545
 1      2023-12-31 05:54:50.600         0.310008  0.465846  0.532954 -0.534367
 2      2023-12-31 05:54:50.700         0.409272  0.123831 -0.165352  0.167080
 3      2023-12-31 05:54:50.800         0.508534 -0.973265 -4.910397 -0.716231
 4      2023-12-31 05:54:50.900         0.607798 -0.354023 -1.593328  1.265975
 ...                        ...              ...       ...       ...       ...
 318271 2023-12-31 14:45:17.600     31827.371264 -0.035151 -0.396172 -0.436001
 318272 2023-12-31 14:45:17.700     31827.470528  0.416732  0.363186  0.371581
 318273 2023-12-31 14:45:17.800     31827.569790 -0.260298  0.283476 -0.507821
 318274 2023-12-31 14:45:17.900     31827.669053 -0.049899  0.027105 -0.044942
 318275 2023-12-31 14:45:18.000     31827.768319  0.086359  0.012182  0.557598

 [318276 rows x 5 columns],
 'Gravity':                           time  seconds_elapsed         z       y       x
 0      2023-12-31 05:54:50.400         0.130483  6.383200  7.2799 -1.5574
 1      2023-12-31 05:54:50.500         0.229746  9.745700 -1.0749  0.1851
 2      2023-12-31 05:54:50.600         0.329010  9.674900 -1.5193  0.5064
 3      2023-12-31 05:54:50.700         0.428272  9.655100 -1.7085  0.1730
 4      2023-12-31 05:54:50.800         0.527536  9.440599 -1.8233  1.9286
 ...                        ...              ...       ...     ...     ...
 318272 2023-12-31 14:45:17.600     31827.310855  9.673200  1.5693 -0.3688
 318273 2023-12-31 14:45:17.700     31827.410118  9.782400  0.6854 -0.0576
 318274 2023-12-31 14:45:17.800     31827.509382  9.743100  1.0969 -0.1964
 318275 2023-12-31 14:45:17.900     31827.608644  9.762000  0.8947 -0.2704
 318276 2023-12-31 14:45:18.000     31827.707908  9.777200  0.7311 -0.2013

 [318277 rows x 5 columns]}

In [27]:
temp = data_transformer.device_dataframes['HONOR_8X']

In [ ]:
temp['time'] = pd.to_datetime(temp['time'])

In [ ]:
type(temp['time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [4]:
import copy
def cut_dataframes_inside_device(device_dataframes: dict,) -> dict:
    """Cut dataframes to same length"""
    device_dataframes_copy = copy.deepcopy(device_dataframes)
    min_time = max_time = None

    # Find the global min and max time
    for df in device_dataframes_copy.values():
        current_min = df['time'].min()
        current_max = df['time'].max()
        min_time = current_min if min_time is None or current_min > min_time else min_time
        max_time = current_max if max_time is None or current_max < max_time else max_time
    print(f"min_time: {min_time}, max_time: {max_time}")

    # Cut each dataframe to the global min and max time
    for key, df in device_dataframes_copy.items():
        device_dataframes_copy[key] = df[(df['time'] >= min_time) & (df['time'] <= max_time)]

    return device_dataframes_copy

In [5]:
#TODO: need adjustment for example if the value is missing in the beginign it will put nan
def fill_missing_times(device_dataframes: dict) -> dict:
    """Fill missing times in dataframes"""
    device_dataframes_copy = copy.deepcopy(device_dataframes)
    all_times = set()

    # Get all unique times
    for df in device_dataframes_copy.values():
        all_times.update(df['time'].unique())

    # Fill missing times and interpolate other columns
    for key, df in device_dataframes_copy.items():
        unique_times = set(df['time'].unique())
        missing_times = all_times - unique_times
        if missing_times:
            missing_df = pd.DataFrame(missing_times, columns=['time'])
            df = pd.concat([df, missing_df])
            df.sort_values('time', inplace=True)
            df.set_index('time', inplace=True)
            df = df.interpolate(method='time')
            device_dataframes_copy[key] = df.reset_index()

    return device_dataframes_copy

In [6]:
new_data = cut_dataframes_inside_device(data_transformer.device_dataframes['HONOR_8X'])

min_time: 2023-12-31 05:54:50.500000, max_time: 2023-12-31 14:45:18

In [7]:
filled_missing_time_data = fill_missing_times(new_data)

In [11]:
print("new data")
for key in new_data.keys():
    print(key)
    print(new_data[key].size)
    print()
print("filled_missing_time_data")
for key in filled_missing_time_data.keys():
    print(key)
    print(filled_missing_time_data[key].size)
    print()

new data
TotalAcceleration
1591375

Orientation
2864484

Magnetometer
1591380

GyroscopeUncalibrated
1591380

MagnetometerUncalibrated
1591370

Accelerometer
1591380

Gyroscope
1591380

Gravity
1591380

filled_missing_time_data
TotalAcceleration
1591380

Orientation
2864484

Magnetometer
1591380

GyroscopeUncalibrated
1591380

MagnetometerUncalibrated
1591380

Accelerometer
1591380

Gyroscope
1591380

Gravity
1591380

In [8]:
filled_missing_time_data['TotalAcceleration']

                          time  seconds_elapsed          z         y         x
0      2023-12-31 05:54:50.500              NaN        NaN       NaN       NaN
1      2023-12-31 05:54:50.600         0.309156   9.518369 -1.001811  0.628880
2      2023-12-31 05:54:50.700         0.408421  10.557539 -2.106658  0.041688
3      2023-12-31 05:54:50.800         0.507683  16.106216 -4.890042  3.783538
4      2023-12-31 05:54:50.900         0.606947   6.553907 -1.044245  4.410512
...                        ...              ...        ...       ...       ...
318271 2023-12-31 14:45:17.600     31827.370413  11.402682  0.781985 -0.588284
318272 2023-12-31 14:45:17.700     31827.469677   9.293515  1.020658 -0.148613
318273 2023-12-31 14:45:17.800     31827.568939   9.599820  1.126616 -0.732980
318274 2023-12-31 14:45:17.900     31827.668202  10.327179  0.314234  0.038393
318275 2023-12-31 14:45:18.000     31827.767468  10.261434  0.415442 -0.427604

[318276 rows x 5 columns]

In [19]:
def prepare_final_df(device_dataframes: dict) -> pd.DataFrame:
    """Prepare final dataframe that merges all dataframes"""
    dfs = []

    # For each dataframe, create a single column where the values are lists of the values in the original columns
    for key, df in device_dataframes.items():
        df = df.drop(columns='seconds_elapsed', errors='ignore')
        df.set_index('time', inplace=True)
        df[key] = df.values.tolist()
        df = df[[key]]  # Keep only the new column
        dfs.append(df)

    # Merge all dataframes on the index
    final_df = pd.concat(dfs, axis=1)

    return final_df

In [20]:
final = prepare_final_df(filled_missing_time_data)

In [25]:
final

,TotalAcceleration,Orientation,Magnetometer,GyroscopeUncalibrated,MagnetometerUncalibrated,Accelerometer,Gyroscope,Gravity
time,,,,,,,,
2023-12-31 05:54:50.500,"[nan, nan, nan]","[-0.6879670023918152, 0.0309689994901418, -0.0...","[-32.5625, 4.5, -34.125]","[0.5060407519340515, -0.4722861051559448, -0.2...","[-42.1875, 16.9375, 0.25]","[0.6197999715805054, 0.0157999992370605, 0.442...","[0.5010665655136108, -0.4462981522083282, -0.2...","[9.745699882507324, -1.0749000310897827, 0.185..."
2023-12-31 05:54:50.600,"[9.5183687210083, -1.0018105506896973, 0.62888...","[-0.6797969937324524, 0.034070000052452, -0.07...","[-31.0625, 5.375, -35.0625]","[0.4708200097084045, 0.5069657564163208, -0.53...","[-40.6875, 17.8125, -0.6875]","[1.3181999921798706, 0.185599997639656, 0.0328...","[0.4658458232879638, 0.5329537391662598, -0.53...","[9.67490005493164, -1.5192999839782717, 0.5063..."
2023-12-31 05:54:50.700,"[10.557538986206056, -2.1066579818725586, 0.04...","[-0.6798920035362244, 0.0532139986753463, -0.0...","[-31.75, 5.0625, -34.3125]","[0.1288052946329116, -0.1913404464721679, 0.16...","[-41.375, 17.5, 0.0625]","[0.1515000015497207, -0.3016999959945678, -0.7...","[0.123831108212471, -0.1653524935245514, 0.167...","[9.655099868774414, -1.7084999084472656, 0.172..."
2023-12-31 05:54:50.800,"[16.106216430664062, -4.890041828155518, 3.783...","[-0.6884049773216248, -0.0061659999191761, -0....","[-25.625, 3.5, -38.625]","[-0.9682912230491638, -4.936384677886963, -0.7...","[-35.25, 15.9375, -4.25]","[5.661499977111816, -0.0005999999702908, 2.013...","[-0.9732654094696044, -4.910396575927734, -0.7...","[9.44059944152832, -1.823300004005432, 1.92859..."
2023-12-31 05:54:50.900,"[6.5539069175720215, -1.0442454814910889, 4.41...","[-0.693560004234314, -0.1558039933443069, -0.2...","[-18.125, -0.75, -48.125]","[-0.3490484058856964, -1.6193164587020874, 1.2...","[-27.75, 11.6875, -13.75]","[-0.2728999853134155, 0.2477999925613403, 0.30...","[-0.3540225923061371, -1.5933284759521484, 1.2...","[8.441800117492676, -0.6793000102043152, 4.943..."
...,...,...,...,...,...,...,...,...
2023-12-31 14:45:17.600,"[11.402682304382324, 0.7819845676422119, -0.58...","[-0.5703970193862915, -0.0304760001599788, 0.0...","[-24.0625, 19.375, -17.6875]","[0.0027925267349928, -0.3814417123794555, -0.2...","[-41.625, 9.25, -29.8125]","[1.2512999773025513, -0.2551999986171722, -0.3...","[-0.0351509302854537, -0.396172285079956, -0.4...","[9.673199653625488, 1.5692999362945557, -0.368..."
2023-12-31 14:45:17.700,"[9.2935152053833, 1.0206577777862549, -0.14861...","[-0.5657550096511841, -0.0173690002411603, 0.0...","[-25.125, 16.8125, -19.5625]","[0.405911237001419, 0.2681000232696533, 0.3569...","[-41.9375, 10.8125, -28.75]","[0.877299964427948, -0.1459999978542328, 0.077...","[0.4167322516441345, 0.3631855547428131, 0.371...","[9.782400131225586, 0.6854000091552734, -0.057..."
2023-12-31 14:45:17.800,"[9.599820137023926, 1.1266156435012815, -0.732...","[-0.5581830143928528, -0.0230020005255937, 0.0...","[-25.8125, 15.125, -21.0625]","[-0.2096315026283264, 0.2114291787147522, -0.5...","[-42.625, 9.125, -30.25]","[-1.083799958229065, -1.0968999862670898, 0.68...","[-0.2602984011173248, 0.2834763824939728, -0.5...","[9.7431001663208, 1.0968999862670898, -0.19640..."
2023-12-31 14:45:17.900,"[10.327178955078123, 0.31423419713974, 0.03839...","[-0.5646600127220154, -0.0144279999658465, 0.0...","[-24.625, 15.1875, -20.4375]","[-0.0643677413463592, -0.0154636166989803, -0....","[-41.4375, 9.1875, -29.625]","[1.5645999908447266, 0.2721999883651733, -0.95...","[-0.0498989634215831, 0.0271049626171588, -0.0...","[9.76200008392334, 0.8946999907493591, -0.2703..."
2023-12-31 14:45:18.000,"[10.261433601379396, 0.4154418706893921, -0.42...","[-0.5607929825782776, -0.0124319996684789, 0.0...","[-25.4375, 14.3125, -20.25]","[0.0326202027499675, -0.123674027621746, 0.259...","[-42.25, 8.3125, -29.4375]","[-0.4314999878406524, 0.1023999974131584, -0.0...","[0.0863588899374008, 0.0121823977679014, 0.557...","[9.777199745178224, 0.7310999631881714, -0.201..."

In [37]:
final.columns

Index(['time', 'time', 'time', 'time', 'time', 'time', 'time', 'time'], dtype='object')

In [26]:
for key in new_data.keys():
    print(key)
    print(new_data[key].size)
    print()

TotalAcceleration
1591375

Orientation
2864475

Magnetometer
1591375

GyroscopeUncalibrated
1591375

MagnetometerUncalibrated
1591375

Accelerometer
1591375

Gyroscope
1591375

Gravity
1591375

In [27]:

for key in filled_missing_time_data.keys():
    print(key)
    print(filled_missing_time_data[key].size)
    print()

TotalAcceleration
1591375

Orientation
2864475

Magnetometer
1591375

GyroscopeUncalibrated
1591375

MagnetometerUncalibrated
1591375

Accelerometer
1591375

Gyroscope
1591375

Gravity
1591375

In [17]:
new_data['Magnetometer']

                          time  seconds_elapsed        z        y        x
1      2023-12-31 05:54:50.600         0.313616 -31.0625   5.3750 -35.0625
2      2023-12-31 05:54:50.700         0.412881 -31.7500   5.0625 -34.3125
3      2023-12-31 05:54:50.800         0.512143 -25.6250   3.5000 -38.6250
4      2023-12-31 05:54:50.900         0.611407 -18.1250  -0.7500 -48.1250
5      2023-12-31 05:54:51.000         0.710670 -15.5625  -1.1250 -60.0000
...                        ...              ...      ...      ...      ...
318271 2023-12-31 14:45:17.600     31827.374873 -24.0625  19.3750 -17.6875
318272 2023-12-31 14:45:17.700     31827.474137 -25.1250  16.8125 -19.5625
318273 2023-12-31 14:45:17.800     31827.573399 -25.8125  15.1250 -21.0625
318274 2023-12-31 14:45:17.900     31827.672662 -24.6250  15.1875 -20.4375
318275 2023-12-31 14:45:18.000     31827.771927 -25.4375  14.3125 -20.2500

[318275 rows x 5 columns]

In [15]:
list(data_transformer.transformed_data['Sony_Xperia_M5'].values())[0]

PosixPath('data/2023-12-31/Sony_Xperia_M5/TotalAcceleration.csv')

In [18]:
data_transformer.transformed_data['Sony_Xperia_M5']

{'TotalAcceleration': PosixPath('data/2023-12-31/Sony_Xperia_M5/TotalAcceleration.csv'),
 'Annotation': PosixPath('data/2023-12-31/Sony_Xperia_M5/Annotation.csv'),
 'Location': PosixPath('data/2023-12-31/Sony_Xperia_M5/Location.csv'),
 'Magnetometer': PosixPath('data/2023-12-31/Sony_Xperia_M5/Magnetometer.csv'),
 'MagnetometerUncalibrated': PosixPath('data/2023-12-31/Sony_Xperia_M5/MagnetometerUncalibrated.csv'),
 'Accelerometer': PosixPath('data/2023-12-31/Sony_Xperia_M5/Accelerometer.csv'),
 'AccelerometerUncalibrated': PosixPath('data/2023-12-31/Sony_Xperia_M5/AccelerometerUncalibrated.csv'),
 'Metadata': PosixPath('data/2023-12-31/Sony_Xperia_M5/Metadata.csv'),
 'Rules': PosixPath('data/2023-12-31/Sony_Xperia_M5/Rules.csv')}

In [19]:
pd.read_csv('data/2023-12-31/Sony_Xperia_M5/Rules.csv')

EmptyDataError: No columns to parse from file

In [17]:
pd.read_csv(list(data_transformer.transformed_data['Sony_Xperia_M5'].values())[0]).head(20)

                       time  seconds_elapsed       z      y      x
0   2023-12-31 05:56:14.000         0.316039   9.395 -1.110 -0.076
1   2023-12-31 05:56:14.100         0.415829   9.634 -0.727 -0.239
2   2023-12-31 05:56:14.200         0.515808  10.046 -0.306 -0.296
3   2023-12-31 05:56:14.300         0.615862   9.031 -0.938 -0.469
4   2023-12-31 05:56:14.400         0.715844   9.807 -1.283 -0.699
5   2023-12-31 05:56:14.500         0.816629  10.247 -1.005 -0.699
6   2023-12-31 05:56:14.600         0.916472   9.749 -0.574 -0.220
7   2023-12-31 05:56:14.700         1.015913  10.496 -0.823 -0.057
8   2023-12-31 05:56:14.800         1.115929   9.519 -1.656 -0.565
9   2023-12-31 05:56:14.900         1.215922   9.213 -1.340 -0.478
10  2023-12-31 05:56:15.000         1.316526  10.027 -1.120 -0.852
11  2023-12-31 05:56:15.100         1.415846  10.429 -1.589 -0.651
12  2023-12-31 05:56:15.200         1.515852   9.318 -0.986  0.191
13  2023-12-31 05:56:15.300         1.616002  10.065 -1.034 -0.258
14  2023-12-31 05:56:15.400         1.715990   9.912 -1.292 -0.488
15  2023-12-31 05:56:15.500         1.816151  10.151 -1.235 -0.727
16  2023-12-31 05:56:15.600         1.916056   9.921 -1.015 -0.440
17  2023-12-31 05:56:15.700         2.015946  11.636 -1.398 -0.047
18  2023-12-31 05:56:15.800         2.118804  10.065 -0.928 -0.402
19  2023-12-31 05:56:15.900         2.216366   9.768 -1.369  0.124

In [ ]:
def match_times_acros_sensors(device_sensor: dict):

In [5]:
#load file to pd dataframe /Users/kuba/SkiApp/input_data/2023-12-31/HONOR_8X/Accelerometer.csv
df = pd.read_csv('/Users/kuba/SkiApp/input_data/2023-12-31/HONOR_8X/Accelerometer.csv', sep=',')

In [6]:
df

                       time  seconds_elapsed       z       y       x
0       1704002093359483100         0.130483 -0.7738  0.3986  0.3512
1       1704002093458745600         0.229746  0.6198  0.0158  0.4424
2       1704002093558009600         0.329010  1.3182  0.1856  0.0329
3       1704002093657272300         0.428272  0.1515 -0.3017 -0.7320
4       1704002093756536300         0.527536  5.6615 -0.0006  2.0136
...                     ...              ...     ...     ...     ...
320635  1704033920639117600     31827.410118  0.8773 -0.1460  0.0773
320636  1704033920738381600     31827.509382 -1.0838 -1.0969  0.6868
320637  1704033920837644000     31827.608644  1.5646  0.2722 -0.9553
320638  1704033920936908000     31827.707908 -0.4315  0.1024 -0.0045
320639  1704033921036172300     31827.807172  0.0544 -0.0923 -0.2996

[320640 rows x 5 columns]

In [49]:
pd.to_datetime(df['time'], unit='ns')

TypeError: to_datetime() got an unexpected keyword argument 'in_place'

In [30]:
df_time = df.copy()
df_time['time'] = pd.to_datetime(df['time'], unit='ns')  # use 'ms' if your timestamps are in milliseconds

In [35]:
type(df_time['time'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
def apply_offset(df: pd.DataFrame, offset: int):
    #add offset in ns to time column where offset is ms and time is pandas._libs.tslibs.timestamps.Timestamp
    df['time'] = df['time'] + pd.Timedelta(offset, unit='ms')
    return df

In [37]:
df_time

                                time  seconds_elapsed       z       y       x
0      2023-12-31 05:54:53.359483102         0.130483 -0.7738  0.3986  0.3512
1      2023-12-31 05:54:53.458745602         0.229746  0.6198  0.0158  0.4424
2      2023-12-31 05:54:53.558009602         0.329010  1.3182  0.1856  0.0329
3      2023-12-31 05:54:53.657272302         0.428272  0.1515 -0.3017 -0.7320
4      2023-12-31 05:54:53.756536302         0.527536  5.6615 -0.0006  2.0136
...                              ...              ...     ...     ...     ...
320635 2023-12-31 14:45:20.639117602     31827.410118  0.8773 -0.1460  0.0773
320636 2023-12-31 14:45:20.738381602     31827.509382 -1.0838 -1.0969  0.6868
320637 2023-12-31 14:45:20.837644002     31827.608644  1.5646  0.2722 -0.9553
320638 2023-12-31 14:45:20.936908002     31827.707908 -0.4315  0.1024 -0.0045
320639 2023-12-31 14:45:21.036172302     31827.807172  0.0544 -0.0923 -0.2996

[320640 rows x 5 columns]

In [46]:
df_offset = apply_offset(df_time, 1)
df_offset

                                time  seconds_elapsed       z       y       x
0      2023-12-31 05:54:54.489483102         0.130483 -0.7738  0.3986  0.3512
1      2023-12-31 05:54:54.588745602         0.229746  0.6198  0.0158  0.4424
2      2023-12-31 05:54:54.688009602         0.329010  1.3182  0.1856  0.0329
3      2023-12-31 05:54:54.787272302         0.428272  0.1515 -0.3017 -0.7320
4      2023-12-31 05:54:54.886536302         0.527536  5.6615 -0.0006  2.0136
...                              ...              ...     ...     ...     ...
320635 2023-12-31 14:45:21.769117602     31827.410118  0.8773 -0.1460  0.0773
320636 2023-12-31 14:45:21.868381602     31827.509382 -1.0838 -1.0969  0.6868
320637 2023-12-31 14:45:21.967644002     31827.608644  1.5646  0.2722 -0.9553
320638 2023-12-31 14:45:22.066908002     31827.707908 -0.4315  0.1024 -0.0045
320639 2023-12-31 14:45:22.166172302     31827.807172  0.0544 -0.0923 -0.2996

[320640 rows x 5 columns]

In [15]:
df2= pd.read_csv('/Users/kuba/SkiApp/input_data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv', sep=',')

In [16]:
pd.to_datetime(df2['time'], unit='ns')  # use 'ms' if your timestamps are in milliseconds

0       2023-12-30 12:15:10.359757800
1       2023-12-30 12:15:10.459807500
2       2023-12-30 12:15:10.559771400
3       2023-12-30 12:15:10.659942400
4       2023-12-30 12:15:10.759764000
                     ...
34758   2023-12-30 13:13:17.569758500
34759   2023-12-30 13:13:17.669766100
34760   2023-12-30 13:13:17.769758000
34761   2023-12-30 13:13:17.872302800
34762   2023-12-30 13:13:17.969884000
Name: time, Length: 34763, dtype: datetime64[ns]

In [48]:
# load text file /Users/kuba/SkiApp/input_data/2023-12-31/OPPO_AX7/offset.txt and read first file to int
f = open('/Users/kuba/SkiApp/input_data/2023-12-31/OPPO_AX7/offset.txt', 'r')
offset = int(f.readline())
offset

663

In [61]:
import os
from pathlib import Path

# Original path
path = "/Users/kuba/SkiApp/input_data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv"

# Modify the path
new_path = Path(path).relative_to("/Users/kuba/SkiApp/input_data")

In [64]:
new_path = os.path.join("data", new_path)
new_path

'/data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv'

In [107]:
path = Path("/Users/kuba/SkiApp/input_data/2023-5-30/Soy_Xperia_bA/ToalAccpeleratin.csv")
last_parts = path.parts[-3:]

final_path =  Path('data', *last_parts)
folders = final_path.parts[:-1]
folders = Path(*folders)
print(final_path)
print(folders)
folders.mkdir(parents=True, exist_ok=True)
df.to_csv(final_path, index=False)

data/2023-5-30/Soy_Xperia_bA/ToalAccpeleratin.csv
data/2023-5-30/Soy_Xperia_bA

In [105]:
final_path.mkdir(parents=True, exist_ok=True)

In [106]:
df.to_csv(final_path, index=False)

IsADirectoryError: [Errno 21] Is a directory: 'data/2023-3-30/Soy_Xperia_bA/ToalAccpeleratin.csv'

In [80]:
path

PosixPath('/Users/kuba/SkiApp/input_data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv')

In [75]:
new_date_directory = Path('/data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv')

In [78]:
parent_directory = new_date_directory.parent

# Get the last three components
last_three_components = parent_directory.parts[-3:]

# Join the components back together into a Path
last_three_path = Path(*last_three_components)

print(last_three_path)

data/2023-12-30/Sony_Xperia_XA

In [71]:
new_date_directory = Path('/data/2023-12-30/Sony_Xperia_XA/TotalAcceleration.csv')

new_date_directory.mkdir(parents=True, exist_ok=True)

In [ ]:
os.makedirs(os.path.dirname('data/2023-12-30/Sony_Xperia_XA'), exist_ok=True)

df.to_csv(new_path, index=False)