In [1]:
from app.Labeler import Labeler

In [2]:
labeler = Labeler(date="2023-12-31")

In [3]:
labeler.folders_dict

{'Sony_Xperia_M5': [PosixPath('data/2023-12-31/Sony_Xperia_M5/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/Annotation.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/Location.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/Magnetometer.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/Accelerometer.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_M5/Rules.csv')],
 'OPPO_AX7': [PosixPath('data/2023-12-31/OPPO_AX7/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Annotation.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Location.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Orientation.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Magnetometer.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/GyroscopeUncalibrated.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Accelerometer.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Gyroscope.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Rules.csv'),
  PosixPath('data/2023-12-31/OPPO_AX7/Gravity.csv')],
 'LENOVO_K6_NOTE': [PosixPath('data/2023-12-31/LENOVO_K6_NOTE/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Annotation.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Location.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Orientation.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Magnetometer.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/GyroscopeUncalibrated.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Accelerometer.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Gyroscope.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Rules.csv'),
  PosixPath('data/2023-12-31/LENOVO_K6_NOTE/Gravity.csv')],
 'HONOR_8X': [PosixPath('data/2023-12-31/HONOR_8X/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Annotation.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Location.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Orientation.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Magnetometer.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/GyroscopeUncalibrated.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Accelerometer.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Gyroscope.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Rules.csv'),
  PosixPath('data/2023-12-31/HONOR_8X/Gravity.csv')],
 'HUAWEI_P9_LITE': [PosixPath('data/2023-12-31/HUAWEI_P9_LITE/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Annotation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Location.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Orientation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Magnetometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Accelerometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Rules.csv'),
  PosixPath('data/2023-12-31/HUAWEI_P9_LITE/Gravity.csv')],
 'Sony_Xperia_XA': [PosixPath('data/2023-12-31/Sony_Xperia_XA/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/Annotation.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/Location.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/Magnetometer.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/Accelerometer.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/Sony_Xperia_XA/Rules.csv')],
 'HUAWEI_Y7': [PosixPath('data/2023-12-31/HUAWEI_Y7/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Annotation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Location.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Orientation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Magnetometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Accelerometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Rules.csv'),
  PosixPath('data/2023-12-31/HUAWEI_Y7/Gravity.csv')],
 'LG_K10': [PosixPath('data/2023-12-31/LG_K10/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/LG_K10/Annotation.csv'),
  PosixPath('data/2023-12-31/LG_K10/Location.csv'),
  PosixPath('data/2023-12-31/LG_K10/Magnetometer.csv'),
  PosixPath('data/2023-12-31/LG_K10/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/LG_K10/Accelerometer.csv'),
  PosixPath('data/2023-12-31/LG_K10/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/LG_K10/Rules.csv')],
 'HUAWEI_MATE': [PosixPath('data/2023-12-31/HUAWEI_MATE/TotalAcceleration.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Annotation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Location.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Orientation.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Magnetometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/GyroscopeUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/MagnetometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Accelerometer.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/AccelerometerUncalibrated.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Gyroscope.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Rules.csv'),
  PosixPath('data/2023-12-31/HUAWEI_MATE/Gravity.csv')]}

In [4]:
import pandas as pd

In [7]:
df_acceleration = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/Accelerometer.csv")
df_gravity = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/Gravity.csv")
df_gyroscope = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/Gyroscope.csv")
df_gyrospoce_uncalibrated = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/GyroscopeUncalibrated.csv")
df_magnetometer = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/Magnetometer.csv")
df_magnetometer_uncalibrated = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/MagnetometerUncalibrated.csv")
df_orientation = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/Orientation.csv")
df_total_acceleration = pd.read_csv("/Users/kuba/SkiApp/data/2023-12-31/HONOR_8X/TotalAcceleration.csv")

In [8]:
df_acceleration

                           time  seconds_elapsed       z       y       x
0       2023-12-31 05:54:50.400         0.130483 -0.7738  0.3986  0.3512
1       2023-12-31 05:54:50.500         0.229746  0.6198  0.0158  0.4424
2       2023-12-31 05:54:50.600         0.329010  1.3182  0.1856  0.0329
3       2023-12-31 05:54:50.700         0.428272  0.1515 -0.3017 -0.7320
4       2023-12-31 05:54:50.800         0.527536  5.6615 -0.0006  2.0136
...                         ...              ...     ...     ...     ...
318273  2023-12-31 14:45:17.700     31827.410118  0.8773 -0.1460  0.0773
318274  2023-12-31 14:45:17.800     31827.509382 -1.0838 -1.0969  0.6868
318275  2023-12-31 14:45:17.900     31827.608644  1.5646  0.2722 -0.9553
318276  2023-12-31 14:45:18.000     31827.707908 -0.4315  0.1024 -0.0045
318277  2023-12-31 14:45:18.100     31827.807172  0.0544 -0.0923 -0.2996

[318278 rows x 5 columns]

In [9]:
df_gravity

                           time  seconds_elapsed         z       y       x
0       2023-12-31 05:54:50.400         0.130483  6.383200  7.2799 -1.5574
1       2023-12-31 05:54:50.500         0.229746  9.745700 -1.0749  0.1851
2       2023-12-31 05:54:50.600         0.329010  9.674900 -1.5193  0.5064
3       2023-12-31 05:54:50.700         0.428272  9.655100 -1.7085  0.1730
4       2023-12-31 05:54:50.800         0.527536  9.440599 -1.8233  1.9286
...                         ...              ...       ...     ...     ...
318272  2023-12-31 14:45:17.600     31827.310855  9.673200  1.5693 -0.3688
318273  2023-12-31 14:45:17.700     31827.410118  9.782400  0.6854 -0.0576
318274  2023-12-31 14:45:17.800     31827.509382  9.743100  1.0969 -0.1964
318275  2023-12-31 14:45:17.900     31827.608644  9.762000  0.8947 -0.2704
318276  2023-12-31 14:45:18.000     31827.707908  9.777200  0.7311 -0.2013

[318277 rows x 5 columns]

In [10]:
df_gyroscope

                           time  seconds_elapsed         z         y         x
0       2023-12-31 05:54:50.500         0.210745  0.501067 -0.446298 -0.263545
1       2023-12-31 05:54:50.600         0.310008  0.465846  0.532954 -0.534367
2       2023-12-31 05:54:50.700         0.409272  0.123831 -0.165352  0.167080
3       2023-12-31 05:54:50.800         0.508534 -0.973265 -4.910397 -0.716231
4       2023-12-31 05:54:50.900         0.607798 -0.354023 -1.593328  1.265975
...                         ...              ...       ...       ...       ...
318271  2023-12-31 14:45:17.600     31827.371264 -0.035151 -0.396172 -0.436001
318272  2023-12-31 14:45:17.700     31827.470528  0.416732  0.363186  0.371581
318273  2023-12-31 14:45:17.800     31827.569790 -0.260298  0.283476 -0.507821
318274  2023-12-31 14:45:17.900     31827.669053 -0.049899  0.027105 -0.044942
318275  2023-12-31 14:45:18.000     31827.768319  0.086359  0.012182  0.557598

[318276 rows x 5 columns]

In [11]:
df_gyrospoce_uncalibrated

                           time  seconds_elapsed         z         y         x
0       2023-12-31 05:54:50.500         0.210745  0.506041 -0.472286 -0.265744
1       2023-12-31 05:54:50.600         0.310008  0.470820  0.506966 -0.536567
2       2023-12-31 05:54:50.700         0.409272  0.128805 -0.191340  0.164881
3       2023-12-31 05:54:50.800         0.508534 -0.968291 -4.936385 -0.718430
4       2023-12-31 05:54:50.900         0.607798 -0.349048 -1.619316  1.263775
...                         ...              ...       ...       ...       ...
318271  2023-12-31 14:45:17.600     31827.381190  0.002793 -0.381442 -0.214571
318272  2023-12-31 14:45:17.700     31827.480455  0.405911  0.268100  0.356990
318273  2023-12-31 14:45:17.800     31827.579717 -0.209632  0.211429 -0.537492
318274  2023-12-31 14:45:17.900     31827.678979 -0.064368 -0.015464 -0.030543
318275  2023-12-31 14:45:18.000     31827.778245  0.032620 -0.123674  0.259461

[318276 rows x 5 columns]

In [12]:
df_magnetometer

                           time  seconds_elapsed        z        y        x
0       2023-12-31 05:54:50.500         0.214354 -32.5625   4.5000 -34.1250
1       2023-12-31 05:54:50.600         0.313616 -31.0625   5.3750 -35.0625
2       2023-12-31 05:54:50.700         0.412881 -31.7500   5.0625 -34.3125
3       2023-12-31 05:54:50.800         0.512143 -25.6250   3.5000 -38.6250
4       2023-12-31 05:54:50.900         0.611407 -18.1250  -0.7500 -48.1250
...                         ...              ...      ...      ...      ...
318271  2023-12-31 14:45:17.600     31827.374873 -24.0625  19.3750 -17.6875
318272  2023-12-31 14:45:17.700     31827.474137 -25.1250  16.8125 -19.5625
318273  2023-12-31 14:45:17.800     31827.573399 -25.8125  15.1250 -21.0625
318274  2023-12-31 14:45:17.900     31827.672662 -24.6250  15.1875 -20.4375
318275  2023-12-31 14:45:18.000     31827.771927 -25.4375  14.3125 -20.2500

[318276 rows x 5 columns]

In [13]:
df_magnetometer_uncalibrated

                           time  seconds_elapsed        z        y        x
0       2023-12-31 05:54:50.500         0.214354 -42.1875  16.9375   0.2500
1       2023-12-31 05:54:50.600         0.313616 -40.6875  17.8125  -0.6875
2       2023-12-31 05:54:50.700         0.412881 -41.3750  17.5000   0.0625
3       2023-12-31 05:54:50.800         0.512143 -35.2500  15.9375  -4.2500
4       2023-12-31 05:54:50.900         0.611407 -27.7500  11.6875 -13.7500
...                         ...              ...      ...      ...      ...
318269  2023-12-31 14:45:17.600     31827.374873 -41.6250   9.2500 -29.8125
318270  2023-12-31 14:45:17.700     31827.474137 -41.9375  10.8125 -28.7500
318271  2023-12-31 14:45:17.800     31827.573399 -42.6250   9.1250 -30.2500
318272  2023-12-31 14:45:17.900     31827.672662 -41.4375   9.1875 -29.6250
318273  2023-12-31 14:45:18.000     31827.771927 -42.2500   8.3125 -29.4375

[318274 rows x 5 columns]

In [14]:
df_orientation

,time,seconds_elapsed,qz,qy,qx,qw,roll,pitch,yaw
0,2023-12-31 05:54:50.400,0.130483,0.876108,0.417098,0.023910,0.240606,0.239315,-0.836573,-2.498757
1,2023-12-31 05:54:50.500,0.229746,-0.687967,0.030969,-0.046298,0.723601,-0.019000,0.109835,1.521363
2,2023-12-31 05:54:50.600,0.329010,-0.679797,0.034070,-0.074509,0.728809,-0.052296,0.155554,1.505310
3,2023-12-31 05:54:50.700,0.428272,-0.679892,0.053214,-0.069960,0.728025,-0.017923,0.175118,1.504021
4,2023-12-31 05:54:50.800,0.527536,-0.688405,-0.006166,-0.136464,0.712346,-0.201521,0.187018,1.555578
...,...,...,...,...,...,...,...,...,...
318273,2023-12-31 14:45:17.700,31827.410118,-0.565755,-0.017369,0.030492,0.823826,0.005898,-0.069950,1.203749
318274,2023-12-31 14:45:17.800,31827.509382,-0.558183,-0.023002,0.052058,0.827763,0.020163,-0.112097,1.187705
318275,2023-12-31 14:45:17.900,31827.608644,-0.564660,-0.014428,0.045477,0.823942,0.027701,-0.091362,1.202869
318276,2023-12-31 14:45:18.000,31827.707908,-0.560793,-0.012432,0.036641,0.827051,0.020591,-0.074621,1.192470
318277,2023-12-31 14:45:18.100,31827.807172,-0.561397,-0.016294,0.044858,0.826168,0.023546,-0.092547,1.194784

In [15]:
df_total_acceleration

,time,seconds_elapsed,z,y,x
0,2023-12-31 05:54:50.400,0.150336,13.460011,-1.110287,0.457388
1,2023-12-31 05:54:50.600,0.309156,9.518369,-1.001811,0.628880
2,2023-12-31 05:54:50.700,0.408421,10.557539,-2.106658,0.041688
3,2023-12-31 05:54:50.800,0.507683,16.106216,-4.890042,3.783538
4,2023-12-31 05:54:50.900,0.606947,6.553907,-1.044245,4.410512
...,...,...,...,...,...
318271,2023-12-31 14:45:17.600,31827.370413,11.402682,0.781985,-0.588284
318272,2023-12-31 14:45:17.700,31827.469677,9.293515,1.020658,-0.148613
318273,2023-12-31 14:45:17.800,31827.568939,9.599820,1.126616,-0.732980
318274,2023-12-31 14:45:17.900,31827.668202,10.327179,0.314234,0.038393
318275,2023-12-31 14:45:18.000,31827.767468,10.261434,0.415442,-0.427604

In [14]:
#Round time to decisecond in time column and drop row if it already has the same timestamp (time is giving in pd.datetime)

def unify_dates(df: pd.DataFrame) -> pd.DataFrame:
    df["time"] = pd.to_datetime(df["time"], format='%Y-%m-%d %H:%M:%S.%f')  # Convert to datetime
    df["time"] = df["time"].dt.round('100L')  # Round to nearest decisecond
    df.drop_duplicates(subset="time", inplace=True)
    return df

In [16]:
df2 = unify_dates(df)

In [17]:
df

                          time  seconds_elapsed       z       y       x
0      2023-12-31 05:54:50.400         0.130483 -0.7738  0.3986  0.3512
1      2023-12-31 05:54:50.500         0.229746  0.6198  0.0158  0.4424
2      2023-12-31 05:54:50.600         0.329010  1.3182  0.1856  0.0329
3      2023-12-31 05:54:50.700         0.428272  0.1515 -0.3017 -0.7320
4      2023-12-31 05:54:50.800         0.527536  5.6615 -0.0006  2.0136
...                        ...              ...     ...     ...     ...
320635 2023-12-31 14:45:17.700     31827.410118  0.8773 -0.1460  0.0773
320636 2023-12-31 14:45:17.800     31827.509382 -1.0838 -1.0969  0.6868
320637 2023-12-31 14:45:17.900     31827.608644  1.5646  0.2722 -0.9553
320638 2023-12-31 14:45:18.000     31827.707908 -0.4315  0.1024 -0.0045
320639 2023-12-31 14:45:18.100     31827.807172  0.0544 -0.0923 -0.2996

[318278 rows x 5 columns]

In [18]:
df2

                          time  seconds_elapsed       z       y       x
0      2023-12-31 05:54:50.400         0.130483 -0.7738  0.3986  0.3512
1      2023-12-31 05:54:50.500         0.229746  0.6198  0.0158  0.4424
2      2023-12-31 05:54:50.600         0.329010  1.3182  0.1856  0.0329
3      2023-12-31 05:54:50.700         0.428272  0.1515 -0.3017 -0.7320
4      2023-12-31 05:54:50.800         0.527536  5.6615 -0.0006  2.0136
...                        ...              ...     ...     ...     ...
320635 2023-12-31 14:45:17.700     31827.410118  0.8773 -0.1460  0.0773
320636 2023-12-31 14:45:17.800     31827.509382 -1.0838 -1.0969  0.6868
320637 2023-12-31 14:45:17.900     31827.608644  1.5646  0.2722 -0.9553
320638 2023-12-31 14:45:18.000     31827.707908 -0.4315  0.1024 -0.0045
320639 2023-12-31 14:45:18.100     31827.807172  0.0544 -0.0923 -0.2996

[318278 rows x 5 columns]

In [13]:
type(df['time'].at[0])

str