In [21]:
import pandas as pd
import os

In [22]:
df = pd.read_csv('/Users/kuba/SkiApp/data/2023-12-31/HUAWEI_Y7/final_df.csv')

In [23]:
#read all final_df.csv from data/2023-12-31 folder to pd.dataframe and append them to list

In [24]:
def read_csv_files(folder_path):
    """Read all final_df.csv files from the given folder into pandas DataFrames and append them to a list"""
    # Get the directories in the folder
    directories = [d for d in os.listdir(folder_path) if os.path.isdir(os.path.join(folder_path, d))]

    # Construct the file paths
    file_paths = [os.path.join(folder_path, d, 'final_df.csv') for d in directories]

    # Read the files and append them to a list
    df_list = [pd.read_csv(file_path) for file_path in file_paths if os.path.exists(file_path)]

    return df_list

In [25]:
def read_csv_files(folder_path):
    """Read all final_df.csv files from the given folder into pandas DataFrames and store them in a dictionary"""
    # Get the directories in the folder
    directories = [d for d in os.listdir(folder_path) if os.path.isdir(os.path.join(folder_path, d))]

    # Construct the file paths and read the files
    df_dict = {d: pd.read_csv(os.path.join(folder_path, d, 'final_df.csv')) for d in directories if os.path.exists(os.path.join(folder_path, d, 'final_df.csv'))}

    return df_dict

In [13]:
l = read_csv_files('/Users/kuba/SkiApp/data/2023-12-31')

In [27]:
l2 = read_csv_files('/Users/kuba/SkiApp/data/2024-01-05')

In [29]:
def print_sorted_records(l):
    """Print the number of records per device, sorted by value"""
    # Sort the dictionary by value
    sorted_l = sorted(l.items(), key=lambda item: item[1].shape[0])

    print("Number of records per device:")
    for key, val in sorted_l:
        print(f'{key} : {val.shape[0]}')

In [30]:
print_sorted_records(l)

Number of records per device:
HUAWEI_Y7 : 80563
OPPO_AX7 : 158392
Sony_Xperia_M5 : 182385
HUAWEI_P9_LITE : 188923
Sony_Xperia_XA : 248381
LENOVO_K6_NOTE : 307404
LG_K10 : 313800
HUAWEI_MATE : 317544
HONOR_8X : 318276

In [31]:
print_sorted_records(l2)›››

Number of records per device:
HUAWEI_Y7 : 78586
HUAWEI_P9_LITE : 254884
OPPO_AX7 : 269704
Sony_Xperia_M5 : 284409
LENOVO_K6_NOTE : 311753
LG_K10 : 312646
Sony_Xperia_XA : 314733
HUAWEI_MATE : 315562
HONOR_8X : 317057

In [20]:
print("Number of records per device:")
for key, val in l.items():
    print(f'{key} : {val.shape[0]}')

Number of records per device:
Sony_Xperia_M5 : 182385
OPPO_AX7 : 158392
LENOVO_K6_NOTE : 307404
HONOR_8X : 318276
HUAWEI_P9_LITE : 188923
Sony_Xperia_XA : 248381
HUAWEI_Y7 : 80563
LG_K10 : 313800
HUAWEI_MATE : 317544

In [28]:
print("Number of records per device:")
for key, val in l2.items():
    print(f'{key} : {val.shape[0]}')

Number of records per device:
Sony_Xperia_M5 : 284409
OPPO_AX7 : 269704
LENOVO_K6_NOTE : 311753
HONOR_8X : 317057
HUAWEI_P9_LITE : 254884
Sony_Xperia_XA : 314733
HUAWEI_Y7 : 78586
LG_K10 : 312646
HUAWEI_MATE : 315562

In [11]:
l[0] #first dataframe

,time,TotalAcceleration,Magnetometer,Gyroscope,Gravity,MagnetometerUncalibrated,GyroscopeUncalibrated,Accelerometer,Orientation
0,2023-12-31 05:56:14.000,"[9.395000457763672, -1.1100000143051147, -0.07...","[-82.75, 25.0, 0.25]",NaN,NaN,NaN,NaN,NaN,NaN
1,2023-12-31 05:56:14.100,"[9.633999824523926, -0.7269999980926514, -0.23...","[-82.5, 24.25, -1.0]",NaN,NaN,NaN,NaN,NaN,NaN
2,2023-12-31 05:56:14.200,"[10.04599952697754, -0.3059999942779541, -0.29...","[-82.0, 23.5, -0.5]",NaN,NaN,NaN,NaN,NaN,NaN
3,2023-12-31 05:56:14.300,"[9.031000137329102, -0.9380000233650208, -0.46...","[-81.75, 25.5, 0.25]",NaN,NaN,NaN,NaN,NaN,NaN
4,2023-12-31 05:56:14.400,"[9.807000160217283, -1.2829999923706057, -0.69...","[-83.25, 24.75, 1.75]",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
182380,2023-12-31 14:43:00.200,"[8.916000366210938, 3.0350000858306885, 1.7710...","[1.5, -6.0, -7.0]",NaN,NaN,NaN,NaN,NaN,NaN
182381,2023-12-31 14:43:00.400,"[5.23799991607666, 4.13700008392334, 0.2870000...","[0.0, -5.0, -5.5]",NaN,NaN,NaN,NaN,NaN,NaN
182382,2023-12-31 14:43:00.500,"[11.798999786376951, 5.888999938964844, 1.2640...","[1.5, -4.5, -1.0]",NaN,NaN,NaN,NaN,NaN,NaN
182383,2023-12-31 14:43:00.600,"[9.25100040435791, 2.632999897003174, 0.833000...","[2.25, -3.5, 0.5]",NaN,NaN,NaN,NaN,NaN,NaN
182384,2023-12-31 14:43:00.800,"[8.427000045776367, 2.700000047683716, 0.36300...","[1.25, -0.5, -2.0]",NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(80563, 9)